/* Break Point */

/* tablet mobile */

@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }

    .contact-info {
        line-height: 1.5;
    }

}

@media (min-width:740px) and (max-width: 1023px) {
    .tablet {
        display: block;
    }

    .social-list a {
        font-size: 28px;
        padding: 0 8px;
    }

    .copy-right {
        margin-top: 22px;
        font-size: 22px;
    }
}

/* mobile */

@media (max-width: 739px) {
    .s-full-width, 
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header .search-btn {
        display: none;
    }
    #nav {
        display: none;
    }
    #nav >li {
        display: block;
        z-index: 9999999999;
    }

    #nav >li a {
        display: block;
        line-height: 16px;
    }

    #nav >li:first-child {
        display: inline-block;
    }
    
    #nav .subnav {  
        position: initial;
    }
    
    #mobile-menu {
        display: block;
    }

    .member-item {
        width: 100%;
        margin-top: 30px;
    }

    .member-img {
        width: 60%;
    }

}